:root {
  --color-midnight-blue: #0a1931;
  --color-dark-blue:     #003396;
  --color-true-blue:     #337cc4;
  --color-sky-blue:      #549ada;
  --color-light-blue:    #86cefa;
  --color-ice-blue:      #e0f2fe;
  --color-periblue:      #cedffc;

  /* speedway 2 */
  --speedway-cosmic-midnight: #1c0c30;
  --speedway-electric-purple: #381068;
  --speedway-neon-grape: #681890;
  --speedway-laser-pink: #ff1493;
  --speedway-sonic-cyan: #00ffff;
  --speedway-sonic-dark-cyan: #028484;
  --speedway-brass-highway: #ffcc00;

  /* bad future - colourway */
  --badfuture-rust-crimson: #200408;
  --badfuture-iron-red: #480810;
  --badfuture-acid-pink: #e41858;
  --badfuture-toxic-green: #00ff66;
  --badfuture-sludge-black: #0c0204;

  /* ice cap colours */
  --icecap-deep-glacier: #041038;
  --icecap-frost-blue: #2c64b0;
  --icecap-neon-chill: #44ccff;
  --icecap-snow-powder: #e0f8ff;

  /* carnival night colours */
  --cnz-bg-dark: #0c0a24;
  --cnz-bg-shadow: #080018;
  --cnz-neon-pink: #ff00ff;
  --cnz-neon-cyan: #00ffff;
  --cnz-ring-yellow: #fffb00;
}

/* --- Defaults --- */

footer {
  background-color: var(--color-periblue) !important;
}
/* --- Text Colours --- */

.title.is-1, h1 { color: var(--color-midnight-blue) !important; }
.title.is-2, .subtitle.is-2, h2 { color: var(--color-midnight-blue) !important; }
.title.is-3, .subtitle.is-3, h3 { color: var(--color-dark-blue) !important; }
.title.is-4, .subtitle.is-4, h4 { color: var(--color-dark-blue) !important; }
.title.is-5, .subtitle.is-5, h5 { color: var(--color-true-blue) !important; }
.title.is-6, .subtitle.is-6, h6 { color: var(--color-true-blue) !important; }

body, 
.content p, 
.content li, 
.content span {
  color: var(--color-midnight-blue);
}

.content small, 
.text-muted {
  color: var(--color-true-blue) !important;
}

.content a,
a {
  color: var(--color-true-blue);
}

.content a:hover,
a:hover {
  color: var(--color-dark-blue);
}

.content strong, 
.content b,
strong, 
b {
  color: var(--color-midnight-blue);
}

.content blockquote {
  color: var(--color-midnight-blue);
  border-left-color: var(--color-true-blue);
  background-color: var(--color-light-blue) !important;
}

.content code, 
.content kbd, 
.content pre,
code, 
kbd, 
pre {
  color: var(--color-dark-blue);
  background-color: #ffffff;
}